In [1]:
import pandas as pd


df = pd.read_csv('train.csv')

In [2]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
df.shape

(891, 12)

In [4]:
df['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [5]:
df['PassengerId']

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [6]:
df.drop(['Cabin','Ticket',  'Name', 'Parch', 'SibSp', 'PassengerId'], axis='columns', inplace=True)

In [7]:
df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'Fare', 'Embarked'], dtype='object')

In [8]:
df.isnull().sum()
print(df.isnull().sum())

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
Embarked      2
dtype: int64

In [9]:
df['Age'].fillna((df['Age'].mean()), inplace = True)
# use mode for categorical variables: replaces nulls with most frequent observation:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [10]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
Embarked    0
dtype: int64

In [11]:
df['Fare'].max()

512.3292

In [13]:

df = pd.get_dummies(df, columns=['Embarked'], prefix = ['Embarked'], drop_first=True)

print(df.head())

   Survived  Pclass     Sex   Age     Fare  Embarked_Q  Embarked_S
0         0       3    male  22.0   7.2500           0           1
1         1       1  female  38.0  71.2833           0           0
2         1       3  female  26.0   7.9250           0           1
3         1       1  female  35.0  53.1000           0           1
4         0       3    male  35.0   8.0500           0           1

In [15]:
df['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64